<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="stylesheet" href="stylesheet.css">
        <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Josefin+Sans:wght@600&family=Pacifico&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header">
            <div class="header-logo">CodeClass</div>

        </div>
        <div class="main">
            <div class="main-about">About us</div>
            <hr>
            <p> Learing new concepts and using it here . Now you are going to read something 
                that doesnt mean anything ,but its important for the page look . You’ve heard tons about coding and know that it has to do with computers
                and how they process the information we see. However, you may not have
                much more than this vague understanding of the concept. Don’t feel bad.
                Many people don’t really understand it, though we all depend on the fundamentals
                of code each and every day. It’s such an important aspect of the technological 
                landscape that, according to Fortune, former President Obama unveiled an initiative
                called “Computer Science for All” that has been backed by and invested in by big names,
                including the Turner Broadcasting Network. This movement is one that mirrors that of our
                nation’s schools that have been emphasizing the value of technology, computer science, engineering,
                and other STEM-related topics. Read on to discover what computer code is and why it is 
                of such importance in today’s societyYou’ve heard tons about coding and know that it has to do with computers
                and how they process the information we see. However, you may not have
                much more than this vague understanding of the concept. Don’t feel bad.
                Many people don’t really understand it, though we all depend on the fundamentals
                of code each and every day. It’s such an important aspect of the technological 
                landscape that, according to Fortune, former President Obama unveiled an initiative
                called “Computer Science for All” that has been backed by and invested in by big names,
                including the Turner Broadcasting Network. This movement is one that mirrors that of our
                nation’s schools that have been emphasizing the value of technology, computer science, engineering,
                and other STEM-related topics. Read on to discover what computer code is and why it is 
                of such importance in today’s society. Thank you for taking your time to read this.
            </p>

        </div>
        <div class="footer">
            <div class="footer-logo">Shubham Singh</div>
            <div class="footer-list">
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100007093204284"><i class="fab fa-facebook fa-2x"></i></a></li>
                <li><a href="https://github.com/suubh"><i class="fab fa-github fa-2x"></i></a></li>
                <li><a href="https://www.linkedin.com/in/shubham-singh-356ba5168"><i class="fab fa-linkedin fa-2x"></i></a></li>
            </ul>
            </div>

        </div>
    </body>
</html>