<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lessons</title>
        <link rel="stylesheet" href="stylesheet.css">
        <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Josefin+Sans:wght@600&family=Pacifico&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/fae507e010.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header">
            <div class="header-logo">CodeClass</div>

        </div>
        <div class="main-for-lesson">
            <div class="main-lessons">Lessons</div>
            <hr>
            <ul>
                <li><i class="fas fa-hand-point-right"> </i> For Javascipt lessons . <a href="https://github.com/suubh/Journey-of-JS">Click here</a></li>
                <li><i class="fas fa-hand-point-right"></i> For CSS lessons . <a href="https://github.com/suubh/CSS-Learning">Click here</a></li>
                <li><i class="fas fa-hand-point-right"></i> For Machine Learning Algorithms . <a href="https://github.com/suubh/Machine-Learning-in-Python"> Click here</a></li>

                <li><i class="fas fa-hand-point-right"></i> For Laravel Frameworks tutorial . <a href="https://www.youtube.com/watch?v=ImtZ5yENzgE&t=1757s"> Click here</a></li>

                <li><i class="fas fa-hand-point-right"></i> For Data Structures and Algorithms . <a href="https://github.com/jainaman224/Algo_Ds_Notes"> Click here</a></li>

            </ul>
            
            

        </div>
        <div class="footer">
            <div class="footer-logo">Shubham Singh</div>
            <div class="footer-list">
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100007093204284"><i class="fab fa-facebook fa-2x"></i></a></li>
                <li><a href="https://github.com/suubh"><i class="fab fa-github fa-2x"></i></a></li>
                <li><a href="https://www.linkedin.com/in/shubham-singh-356ba5168"><i class="fab fa-linkedin fa-2x"></i></a></li>
            </ul>
            </div>

        </div>
    </body>
</html>
