
html{
  --bg:white;
  --color-text:black;
}
html[data-theme='dark']{
  --bg:black;
  --color-text:white;
}

body {
    font-family: "Avenir Next";
    background-color: var(--bg);
  }
  
  li {
    list-style: none;
    padding-bottom: 20px;
  }
  
  .header {
    background-color: #26d0c9;
    color: var(--color-text);
    height: 90px;
  }

  .header {  /* To make nav-bar position fixed */
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    font-family: 'Pacifico', cursive;
  }
  
  .header-list li {
    float: right;
    padding: 35px 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size:20px;
  }
  
  .main {
    padding: 100px 80px;
    color: var(--color-text);
  }
  
  .copy-container h1 {
    font-size: 140px;
  }
  
  .copy-container h2 {
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .copy-container p{
    font-family: 'Barlow', sans-serif;
    font-size:20px;
  }
  
  .copy-container span {
    color: #ff4a4a;
  }
  
  .contents {
    height: 800px;
    margin-top: 100px;
  }
  
  .section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
  }
  
  .contents-item {
    float: left;
    margin-right: 40px;
  }
  
  .contents-item p {
    font-size: 24px;
    margin-top: 30px;
  }
  .project-sec{
    height:auto;
    margin-top: 20px;
  }
  .project{
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;

  }
  .project-list{
    font-family: 'Barlow', sans-serif;
    font-size:20px;
  }
  .project-list a{
    font-style:italic;
    color:#26d0c9;
  }

  .project-list li{
    padding:15px;
  }

  .contact-form {
    padding-top: 100px;
    
  }
  
  
  input,textarea{
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
  }
  
  
  .contact-submit{
    background-color:#dee7ec;
    color:#889eab;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    display: inline;
    padding-bottom: 20px;
    margin-right: 15px;
  }
  
  a{
      color:#ffffff;
      text-decoration:none ;
  }

  .main-about{
      text-align: center;
      font-size:32px;
  }
  .main-lessons{
      
      color:var(--color-text);
      padding:10px;
      font-size:30px;
      
  }
  .main-for-lesson{
    color:var(--color-text);
    padding: 100px 80px;
    margin-bottom:500px;
    font-size:20px;
  }
  .main-for-lesson li{
    padding:20px;

  }
  .main-for-lesson a{
    font-style: italic;
    color:#26d0c9;
  }
  
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
  
    
  }
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
/* width of scroll-bar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #26d0c999; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef2d2d94; 
}
